:root {
    --white: #ffffff;
    --background-gray: rgb(243, 243, 243);
    --not-account: #0095f6;
    --not-account-text: rgb(160, 160, 160);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    min-width: 300px;
    background-color: var(--background-gray, rgb(243, 243, 243));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 10%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    /* horizontal */
    justify-content: space-around;
    /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--white, #ffffff);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: var(--not-account, #0095f6);
    background-color: var(--white, #ffffff);
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: var(--not-account, #0095f6);
    margin-top: 1rem;
}

.not-account {
    color: var(--not-account-text, rgb(160, 160, 160));
}

.link-blue {
    color: var(--not-account, #0095f6);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('/image/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('/image/googleplay-button.png');

}

/* media queries */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 700px) {
    body {
        background-color: var(--white, #ffffff);
    }

    .instagram-wrapper {
        width: 70%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}

@media (max-width: 425px) {
    body {
        background-color: var(--white, #ffffff);
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }

    .app-download {
        height: 2.7rem;
        width: 9rem;
        background-size: cover;
        border-radius: 5px;
    }
}